.header-bg-color{
    background-color: #fffaf9;
    height: 800px;
    
}
.nav-link-color{
    color: rgb(59, 57, 57);
    font-size: 17px;
    font-weight: 700;
}
.orange-color{
    color: #fabe4c;
}
p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

 h1{
     color: #3a3d5b ;
     font-family:  'Oswald', sans-serif;
     font-size: 70px;
     font-weight: 700;
 }
 h2{
    color: #3a3d5b ;
    font-family:  'Oswald', sans-serif;
    font-size:40px ;
    font-weight: 700;
 }
 h3{
    color: #3a3d5b ;
    font-family:  'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
 }
 h4{
    color: #3a3d5b ;
    font-family:  'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
 }

.btn{
    background-color: #a4bc46;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn:hover{
    background-image: linear-gradient(rgb(247, 199, 111),yellow);
}
#women-jacket img{
    width: 250px;
    height: 300px;
}

#man-jacket img{
    width: 220px;
    height:280px ;
}
.image-bg-color{
    background-color: rgb(245, 240, 240);
    width: 90%;
    height: 350px;
    border-radius: 10px;
    margin: 5%;
}
.penguin-card{
    border: 0;
    border-radius: 20px;
}
.penguin-card-footer{
    border: 0;
    background-color: white;
}
.shopping-cart-section{
    height: 600px;

}
.help-section img{
    width: 75px;
    margin-right: 20px;
}
.help-section{
    border-radius: 10px;
}
.help-section-border{
    width: 500px;
}

.shopping-cart img{
    width: 600px;
    height: 350px;
}
.penguin-submit-section{
    background-color: #fffaf9;
    border-radius: 20px;
    
}

